<table border="1">
    <th>Name</th><th>Unit NAme</th>
    <tr *ngFor="let x of empDetails">
        <td style="padding: 10px">{{x.name  | firstUpperCase}}</td>
        <td style="padding: 7px">{{x.unit | firstUpperCase}}</td>
        <td>{{x.grade}}</td>
    </tr>
</table>


<div class="container">
        <table border="1">
           <th>ID</th> <th>Name</th><th>age</th><th>Pic</th>
            <tr *ngFor="let x of actorsDetails">
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.age}}</td>
                <td  (click)="onclickChange(x)"><img [src]="x.img" height="100" width="100"></td>
            </tr>
        </table>
    </div>