<div>
    <form [formGroup]="myfrm">
        <div class="form-group">
            Name: <input class="form-control" formControlName="name">
            <div *ngIf="myfrm.get('name').errors && myfrm.get('name').touched">
                <span *ngIf="myfrm.get('name').errors['required']">Name Is required</span>
                <span *ngIf="myfrm.get('name').errors['minlength']">Min 4 Char</span>
            </div>
        </div>
        <div class="form-group">
            Email: <input class="form-control" formControlName="email">
            <div *ngIf="myfrm.get('email').errors && myfrm.get('email').touched">
                <span *ngIf="myfrm.get('email').errors['email']">Correct format</span>
            </div>
        </div>
        <div class="form-group">
            Password: <input class="form-control" formControlName="password" type='password'>
        </div>
        <div *ngIf="myfrm.controls.password.errors && myfrm.controls.password.touched">
            <span *ngIf="myfrm.controls.password.errors.password">Pass</span>
        </div>

        <button class="btn btn-success" [disabled]="!myfrm.valid" (click)="login()">Log In</button>
        <button class="btn btn-success"  (click)="setvalue()">Set Value</button>
        <button class="btn btn-success" (click)="patchvalue()">Patch value</button>

    </form>
</div>